<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week Days</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Eженедельные предметные занятия</h1>
    <table>
        <tr>
             <th>День</th>
            <th>Французский</th>
            <th>Итальянский</th>
            <th>Римский</th>
            <th>Испанский</th>
            <th>Португальский</th>

        </tr>
        {% for day in jadvallar %}
        <tr>
            <td style="color:#ff0000">{{ day.1.2 }}</td>
            <td>{{ day.french }}</td>
            <td>{{ day.italian }}</td>
            <td>{{ day.roman }}</td>
            <td>{{ day.spanish }}</td>
            <td>{{ day.portu }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
